<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390973570290-3btec4itng306ujqit5la217jv88pdlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390973570290-3btec4itng306ujqit5la217jv88pdlv</string>
	<key>API_KEY</key>
	<string>AIzaSyBg6wB0BltfAZ00h0BlA9vpkdodvOu42sg</string>
	<key>GCM_SENDER_ID</key>
	<string>390973570290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LTDD.BookingTicket-App</string>
	<key>PROJECT_ID</key>
	<string>booking-movie-ticket-app</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-movie-ticket-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390973570290:ios:ac18e423514594c790a46b</string>
</dict>
</plist>